MACHINE ?= "qemuarm64"
include conf/machine/${MACHINE}-memfault.conf

DISTRO = "poky"
PACKAGE_CLASSES = "package_deb"
USER_CLASSES = "buildstats"
PATCHRESOLVE = "noop"

IMAGE_FSTYPES:append = " ext4.gz"

EXTRA_IMAGE_FEATURES ?= "debug-tweaks"

# Licensing
LICENSE_FLAGS_ACCEPTED = "commercial_memfaultd"

IMAGE_FSTYPES:append = " wic wic.bmap"
MACHINE_ESSENTIAL_EXTRA_RDEPENDS += "kernel-image"
do_image_wic[depends] += "mtools-native:do_populate_sysroot dosfstools-native:do_populate_sysroot virtual/bootloader:do_deploy"

# Kernel configuration
KERNEL_FEATURES:append = " cgl/features/pstore/pstore.scc cfg/debug/misc/debug-panic-oops.scc"

# systemd system manager
DISTRO_FEATURES:append = " systemd"
DISTRO_FEATURES:remove = "sysvinit"
VIRTUAL-RUNTIME_init_manager = "systemd"
DISTRO_FEATURES_BACKFILL_CONSIDERED:append = "sysvinit"
VIRTUAL-RUNTIME_initscripts = ""

# (Optional) Disable syslog - memfaultd will persist the logs when wanted
# https://docs.yoctoproject.org/dev-manual/init-manager.html?highlight=syslog#using-systemd-journald-without-a-traditional-syslog-daemon
VIRTUAL-RUNTIME_syslog = ""
VIRTUAL-RUNTIME_base-utils-syslog = ""

# Versioning env variables
MEMFAULT_BASE_URL:pn-memfaultd := "${@d.getVar('BB_ORIGENV', False).getVar('MEMFAULT_BASE_URL')}"
MEMFAULT_PROJECT_KEY:pn-memfaultd := "${@d.getVar('BB_ORIGENV', False).getVar('MEMFAULT_PROJECT_KEY')}"
MEMFAULT_SOFTWARE_TYPE:pn-memfaultd := "${@d.getVar('BB_ORIGENV', False).getVar('MEMFAULT_SOFTWARE_TYPE')}"
MEMFAULT_SOFTWARE_VERSION:pn-memfaultd := "${@d.getVar('BB_ORIGENV', False).getVar('MEMFAULT_SOFTWARE_VERSION')}"

MEMFAULT_DEVICE_ID:pn-memfault-device-info := "${@d.getVar('BB_ORIGENV', False).getVar('MEMFAULT_DEVICE_ID')}"
MEMFAULT_HARDWARE_VERSION:pn-memfault-device-info := "${@d.getVar('BB_ORIGENV', False).getVar('MEMFAULT_HARDWARE_VERSION')}"

# Used by swupdate package to populate the 09-swupdate-args.in template file:
MEMFAULT_HARDWARE_VERSION:pn-swupdate := "${@d.getVar('BB_ORIGENV', False).getVar('MEMFAULT_HARDWARE_VERSION')}"

# Used by swupdate-image to populate the sw-description.in template file:
MEMFAULT_SOFTWARE_VERSION:pn-swupdate-image := "${@d.getVar('BB_ORIGENV', False).getVar('MEMFAULT_SOFTWARE_VERSION')}"
MEMFAULT_HARDWARE_VERSION:pn-swupdate-image := "${@d.getVar('BB_ORIGENV', False).getVar('MEMFAULT_HARDWARE_VERSION')}"

IMAGE_INSTALL:append = " curl "
