[Unit]
Description=memfaultd daemon
After=local-fs.target network.target
Before=swupdate.service

[Service]
Type=forking
PIDFile=/run/memfaultd.pid
ExecStart=/usr/bin/memfaultd --daemonize
Restart=on-failure

[Install]
WantedBy=multi-user.target
